/* Footers */

.footer2{
    color: white;
    padding: 50px;
    background-color: #3c3c3B;
  }

  .footer2-links{
    padding: 20px;
    background-color: #464645;
  }

  .footer2-links .col-md-4{
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .footer2-links a {
    color: white;
    text-decoration: none;
  }

  .footer2-links a:hover {
    color: white;
  }

  .footer-links{
    text-align: right;
    border-right: 2px solid #ccc;
  }

  .newsletter-sub{
    text-align: center;
  }

  .footer2-info{
    padding-top: 20px;
    display: inline;
  }

  .footer2-info p{
    display: inherit;
    float: right;
  }